html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    color-scheme: dark;
    background: #141414;
    color: white;
  }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed #aaa;
}

* {
  box-sizing: border-box;
}
